.item {
    min-height: 30px;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    text-align: left;
    display:flex;
    align-items:center;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #1e1e1e;
}

.name {
    width: 50%;
}

.checkboxes {
    padding-right: 10px;
    width: 50%;
    text-align: right;
}

span {
    color: #1e1e1e;
}