.searchBlock {
    text-align: center;
    padding: 5px;
    width: 800px;
    height: 600px;
    background-color: lightgrey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;

}

.input {
    width: 98%;
    border-color: transparent;
    border-radius: 2px;
}

.options {
    width: 98%;
    text-align: left;
}

.block {
    display: inline-block;
    padding-left: 20px;
}

.myCheckbox{
    display:flex;
    align-items:center;
    color:#fff;
    height: 40px;
}

.searchResults {
    padding: 5px;
}
